<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <script src="/assets/js/spa.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="spa-link">Home</a></li>
                <li><a href="/about.html" class="spa-link">About</a></li>
                <li><a href="/socials.html" class="spa-link">Connect</a></li>
            </ul>
        </nav>
    </header>
    <main id="content">
